In [2]:
import sqlite3

In [3]:
conn= sqlite3.connect('test.db')
conn

In [4]:
cursor=conn.cursor()
cursor

In [8]:
cursor.execute('''
create table if not exists employees(
               id integer,
               name text,
               age integer,
               department text
               );
''')

conn.commit()

In [17]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(id,name,age,department)
               values(1,'Krish',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (id,name, age, department)
VALUES (2,'Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (id,name, age, department)
VALUES (3,'Charlie', 35, 'Finance')
''')


cursor.execute('''
INSERT INTO employees (id,name, age, department)
VALUES (4,'Bo', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (id,name, age, department)
VALUES (5,'Charli', 35, 'Finance')
''')

## commi the changes
conn.commit()

In [18]:
cursor.execute('''
select *  from employees
''')

rows= cursor.fetchall()
for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')
(4, 'Bo', 25, 'Engineering')
(5, 'Charli', 35, 'Finance')